<div class="container">
  <div class="card text-center mb-5 mt-5">
    <h5 class="card-header">User Numer <%= @user.id %></h5>
    <div class="card-body">
      <h3 class="card-title mb-5">First Name : <%= @user.first_name %></h3>
      <h3 class="card-title mb-5">Name : <%= @user.last_name %></h3>    
      <h3 class="card-text mb-5">Description : <%= @user.description %></h3>
      <h3 class="card-text mb-5">Email : <%= @user.email %></h3>
      <h3 class="card-text mb-5">Age : <%= @user.age %></h3>
      <h3 class="card-text mb-5">City: <%= @user.city.name %></h3>
      <h3 class="card-text mb-5">Zip Code : <%= @user.city.zip_code %></h3>
    </div>
  </div>  
  <p><%= link_to "Retourner à la liste de Potins", root_path, :class => "btn btn-primary" %></p>
</div>
