<html>
  <body>
    <!-- ... -->
    <form action= <%= gossips_path %> method="POST">

      <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>

      <label for="title">Title</label>
      <input id="title" name="title" type="text" value="<%= @gossip.title %>"/>
      <br /> <br />

      <label for="content">Content</label>
      <textarea id="content" name="content"><%= @gossip.content %></textarea>
      <br /> <br />

      <label for="user">User</label>
      <input id="user" name="user" type="text" value="<%= @gossip.user %>"/>
      <br /> <br />

      <input type="submit" value="Create Post" />

    </form>

  </body>
</html>