<div class="container">
  <div class="card text-center mb-5 mt-5">
  <h5 class="card-header">Gossip numéro <%= @gossip.id %></h5>
    <div class="card-body">
      <h2 class="card-title mb-5">Titre: <%= @gossip.title %></h2>
      <h3 class="card-text mb-5">Contenu: <%= @gossip.content %></h3>
      <h3 class="card-text mb-5">Auteur: <%= @gossip.user.first_name %></h3>
      <h3 class="card-text mb-5">Date de création: <%= @day %>/<%= @month %>/<%= @year %> à <%= @hour %>h<%= @min %></h3>
      <p><%= link_to "Voir la fiche de l'auteur", user_path(@gossip.user.id), :class => "btn btn-success" %></p>
    </div>
  </div>  
  <p><%= link_to "Retourner à la liste de Potins", root_path, :class => "btn btn-primary" %></p>
</div>
